<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text" href="../static/css/cover.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />

    <title>Nora's Coffee Shop</title>
    <style>
      nav {
        background-color: pink;
      }
      body {
        background: radial-gradient(circle at 10% 20%, rgb(248, 213, 214) 0%, rgb(243, 242, 229) 90%);
    }
      
      header {
        
        padding-top: 50px;
        margin-top: 20px;
      }

      footer {
        height: 106px;
      }

      .nav-item {
        float: right;
      }

     
    </style>
  </head>
  <body>

    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: pink"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            th:src="@{/images/coffeelogo.png}"
            src="../static/images/coffeelogo.png"
            width="auto"
            height="70"
            class="d-inline-block align-top"
            alt=""
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto"></ul>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/}" href="#">Home</a>
            </li>

            <li class="nav-item active">
              <a
                class="nav-link"
                sec:authorize="hasRole('ADMIN')"
                th:href="@{/admin}"
                href="#"
                >Admin</a
              >
            </li>

            <li class="nav-item active">
              <a class="nav-link" th:href="@{/shop}" href="#">Shop</a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                sec:authorize="isAnonymous()"
                th:href="@{/login}"
                href="#"
                
                >Login</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                sec:authorize="isAuthenticated()"
                th:href="@{/logout}"
                href="#"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div class="jumbotron p-3 p-md-5 text-black-50 rounded bg-light">
      <div class="col-md-10 px-0">
        <h1 class="display-4 font-italic">Welcome Nora's Coffee Shop</h1>
        <p class="lead my-3" style="color: pink;">Here you will find the tools of a passionate coffee lover</p>
        <p class="lead my-3">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <br>
        <p class="lead mb-3"><a href="/shop" class="text-black-50 font-weight-bold">Check out our coffee products!</a></p>
      </div>
    </div>
    </header>

    <main></main>

    


    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="text-muted">© 2022 Nora's Coffeeshop, Inc</span>
      </div>
    </footer>

   
  </body>
</html>